<footer class="layout-footer">
    <p style="padding-top:35px; padding-bottom:10px;">©2016-2017 中华 “ 圣陶杯 ” 中学生作文大赛</p>
    <p style=" padding-bottom:10px;">技术支持99999999：<a target="_blank" style="color:#FFF" href="http://www.91yunxiao.com">云校（北京）科技有限公司</a></p>
    <p>联系电话：（010）68980051，68982069，68900046，68902303
</p>
</footer>
<style>
    .layout-footer {
        text-align: center;
        clear: both;
        height:144px;
        background: #38414a;
        width:100%;
        min-width: 1200px;
    }

    .layout-footer p{
        font-size:14px;
        color:#ffffff;
    }
    a[title='站长统计']{
        display: none;
    }
</style>
