<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>中华第24届"圣陶杯"中学生作文大赛唯一官方网站</title>
    <meta name="keywords"
          content="中华圣陶杯作文大赛,中华圣陶杯,中华圣陶作文大赛,中华圣陶中学生,圣陶杯中学生,叶圣陶杯,圣陶杯,中学生作文,作文大赛,圣陶作文,叶圣陶作文,中华圣陶,叶圣陶,叶圣陶作文,圣陶,作文 "/>
    <meta name="description"
          content="由叶圣陶研究会、民进中央教育委员会、《中学语文教学》杂志、开明出版社主办，云校大数据技术研究院承办的“中华第24届‘圣陶杯’中学生作文大赛”于2017年8月开启报名。近年来，大赛已列入中国政法大学、中国传媒大学等十余所学校自主招生计划，热诚欢迎广大中学生参加竞赛。"/>
    <!--<meta name="description" content="">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=0, maximum-scale=1.0, user-scalable=1">-->
    <link rel = "Shortcut Icon" href=/images/stbei_favicon.ico>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/element-ui/lib/theme-default/index.css"/>
    <script src=/jquery/dist/jquery.min.js></script>
    <script src="/vue/dist/vue.min.js"></script>
    <script src="/vue-resource/dist/vue-resource.min.js"></script>
    <script src="/element-ui/lib/index.js"></script>
</head>
