<footer class="layout-footer">
    <p style="padding-top:10px;">
        好多资源电影网不提供电影资源的制作、存储及在线播放,本站所有链接均收录自互联网.
        所有电影版权归原权利人,请下载后24小时内删除,勿将下载的免费电影用于商业用途，因此造成的任何责任与本站无关! </p>
        <p style=" padding-bottom:10px;margin-top:5px;">
                如侵犯了您的合法权益,请及时告知我们.zhangjun521ly@gmail.com
        </p>
</footer>
<style>
    .layout-footer {
        text-align: center;
        clear: both;
        min-height:60px;
        background: #99A9BF;
        width:100%;
    }

    .layout-footer p{
        font-size:14px;
        color:#ffffff;
    }
</style>
