<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>好多资源网</title>
    <meta name="keywords"
          content="电影"/>
    <meta name="description"
          content="电影"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel = "Shortcut Icon" href=/images/stbei_favicon.ico>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/element-ui/lib/theme-default/index.css"/>
    <script src=/jquery/dist/jquery.min.js></script>
    <script src="/vue/dist/vue.min.js"></script>
    <script src="/vue-resource/dist/vue-resource.min.js"></script>
    <script src="/element-ui/lib/index.js"></script> -->
    <style >      
      html {}
      body {
      padding: 0;
      margin: 0;
      color: #444;
      background: #fff !important;
      font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif !important;
      }
      body,
      html,
      li,
      input,
      gloabl,
      th,
      input,
      nav,
      td,
      embed,
      blockquote,
      ol,
      xml,
      div,
      dl,
      dt,
      dd,
      ul,
      pre,
      form,
      fieldset,
      abbr,
      header,
      hgroup,
      Section,
      figure,
      section,
      nav,
      article,
      aside,
      canvas {
      margin: 0;
      padding: 0;
      font-family: 'Microsoft YaHei' !important;
      }
    </style>
</head>
