<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Demo</title>
    <meta name="keywords"
          content="电影"/>
    <meta name="description"
          content="电影"/>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/> 
    <script src="/vue/dist/vue.min.js"></script>
</head>
